.App {
  text-align: center;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}


.App-header {
  background-color: #3965bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.first {
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  background-color: gray;
  color: rgb(27, 27, 23);
  border-radius: 20px;
  border: 5px solid rgb(92, 92, 92);
  padding-left: 10px;
  padding-right: 10px;
  
}

.second {
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  margin-left: 12px;
  background-color: gray;
  color: rgb(15, 15, 15);
  border-radius: 20px;
  border: 5px solid rgb(92, 92, 92);
  padding-left: 10px;
  padding-right: 10px;
  
}

.input{
  width: 200px;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  justify-content: center;
  

}

.btn{
  width: 150px;
  height:40px ;
  border-radius: 15px;
  background-color: rgb(67, 41, 184);
  color: rgb(2, 2, 78);
  font-size: 20px;
  padding: 5px;
}