.App {
  text-align: center;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3965bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: row;
  gap:20px;
}

.first {
 
  background-color: gray;
  color: rgb(219, 216, 28);
  border-radius: 20px;
  border: 5px solid rgb(92, 92, 92);
  padding-left: 10px;
  padding-right: 10px;
  
}

.second {
  
  background-color: gray;
  color: rgb(219, 216, 28);
  border-radius: 20px;
  border: 5px solid rgb(92, 92, 92);
  padding-left: 10px;
  padding-right: 10px;
}

.input{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 30px;

}

.btn{
  border-radius: 15px;
  background-color: rgb(235, 66, 198);
  color: blue;
  font-size: 30px;
  padding: 5px;
}